### Basics
Below is the basic structure of a mysql stored procedure
```mysql
CREATE PROCEDURE GetAllProducts()
BEGIN
    SELECT * FROM products;
END
```
To call the above procedure we write
```mysql
CALL GetAllProducts();
```

### Variables
Use the `DECLARE` statement.
```mysql
DECLARE variable_name datatype(size) DEFAULT default_value;
```
Examples
```mysql
DECLARE item_size INT DEFAULT 0;
DECLARE x,y INT DEFAULT 10;
```
To assign another value to the declared variable use the `SET` statement.
```mysql
SET item_size = 15;
```
One can also use the `SELECT INTO` construct to load result of a query into a variable.
```mysql
DECLARE v_marks INT DEFAULT 0;

SELECT marks INTO v_marks
FROM exam;
```

Typically the scope of a variable is limited to the BEGIN END block. However a variable whose name begins with @ has session scope.

### Parameters
Parameter can have 3 modes:
- IN: default mode. This is the parameter which is passed when we call the procedure.
- OUT: the value of an OUT parameter can be changed inside the stored procedure and its new value is passed back to the calling program.
- INOUT

To define a parameter,
```mysql
MODE parameter_name parameter_type(size)
```

Example of OUT parameter,
```mysql
DELIMITER \\
CREATE PROCEDURE CountOrderByStatus(
 IN orderStatus VARCHAR(25),
 OUT total INT)
BEGIN
 SELECT count(orderNumber)
 INTO total
 FROM orders
 WHERE status = orderStatus;
END\\
DELIMITER ;
```
To call the above procedure,
```mysql
CALL CountOrderByStatus('Shipped',@total);
SELECT @total;
```
We can also specify multiple out parameters so that the procedure returns multiple values.
```mysql
CREATE PROCEDURE GetOrderDetails(IN p_order_code INT, 
                                 OUT p_order_total DECIMAL(10,4), 
                                 OUT p_order_status VARCHAR(10))
BEGIN
    SELECT total INTO p_order_total 
    FROM orders 
    WHERE code = p_order_code;
                                                            
    SELECT status INTO p_order_status
    FROM orders 
    WHERE code = p_order_code;
END
```
```mysql
CALL GetOrderDetails(25, @total_, @status_);
SELECT @total_, @status_;
```

### Control Flow Statements
**IF** statement syntax
```mysql
IF expression THEN 
   statements;
END IF;
```
**IF-ELSE** syntax
```mysql
IF expression THEN
   statements;
ELSE
   statements;
END IF;
```
**IF-ELSEIF-ELSE** syntax
```mysql
IF expression THEN
   statements;
ELSEIF expression THEN
   statements;
...
ELSE
   statements;
END IF;
```
**CASE** syntax
```mysql
CASE  case_expression
   WHEN when_expression_1 THEN commands
   WHEN when_expression_2 THEN commands
   ...
   ELSE commands
END CASE;
```
Example
```mysql
DECLARE customerCountry varchar(50);
 
SELECT country INTO customerCountry
FROM customers
WHERE customerNumber = p_customerNumber;
 
CASE customerCountry
WHEN 'USA' THEN
    SET p_shipping = '2-day Shipping';
WHEN 'Canada' THEN
    SET p_shipping = '3-day Shipping';
ELSE
    SET p_shipping = '5-day Shipping';
END CASE;
```

### Loop
**WHILE** loop
```mysql
WHILE expression DO
   statements;
END WHILE
```

**REPEAT** loop
```mysql
REPEAT
 statements;
UNTIL expression
END REPEAT
```

`LEAVE` is equivalent to *break* and `ITERATE` is equivalent to *continue*.

### Cursors
**Declaring a cursor**
```mysql
DECLARE order_cursor CURSOR FOR select_statement;
```