### Connecting to MySQL Server
```
mysql -h 35.240.182.121 -u root -p
```
Exiting
```
quit;
```

### Getting Some Basic Information
```sql
select version();
```
```sql
select user();
-- returns username@ipaddress
```

### Creating a New Database
To show existing databases, type
```sql
show databases;
```

To use an existing database,
```sql
use studentsdb;
```

You can or cannot use a database. It depends upon whether permissions have been provided by the admin. The `grant` command is used for this purpose.

To create a database, simply type
```sql
create database learningdb;
```

### Creating Tables
To show all the tables in a database,
```sql
show tables;
```

Now to create a table,
```sql
create table pet(name varchar(20), owner varchar(20), 
species varchar(20), sex char(1), birth date, death date);
```

Note that maximum varchar length is 65535.

To get the structure of any table, we can write
```
describe pet;
```
And we get output like
```
+---------+-------------+------+-----+---------+-------+
| Field   | Type        | Null | Key | Default | Extra |
+---------+-------------+------+-----+---------+-------+
| name    | varchar(20) | YES  |     | NULL    |       |
| owner   | varchar(20) | YES  |     | NULL    |       |
| species | varchar(20) | YES  |     | NULL    |       |
| sex     | char(1)     | YES  |     | NULL    |       |
| birth   | date        | YES  |     | NULL    |       |
| death   | date        | YES  |     | NULL    |       |
+---------+-------------+------+-----+---------+-------+
6 rows in set (0.37 sec)
```

### Loading Data
Two statements, `load data` and `insert` statements are used for this. We can load data from a simple text file (tab separated values).

```
load data local infile '~/Code/dbdata.txt' into table pet;
```

We can also use `insert` statement,
```
insert into pet values('Rocco', 'Matt', 'raccoon', 'm', '2016-12-11', NULL);
```